<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_store">

    <application>
        <activity android:name="com.mredrock.cyxbs.store.page.center.activity.StoreCenterActivity"></activity>
        <activity android:name="com.mredrock.cyxbs.store.page.record.activity.StampDetailActivity" />
        <activity android:name="com.mredrock.cyxbs.store.page.exchange.activity.ProductExchangeActivity" />
    </application>

</manifest>