<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mredrock.cyxbs.store">

    <application
        android:theme="@style/AppTheme">
        <activity android:name=".page.record.ui.activity.ExchangeDetailActivity" />
        <activity android:name=".page.center.ui.activity.StoreCenterActivity" />
        <activity android:name=".page.record.ui.activity.StampDetailActivity" />
        <activity android:name=".page.exchange.ui.activity.ProductExchangeActivity" />
    </application>

</manifest>